header.header
  .container.header__container
    .logo.header__logo bibione
    nav.nav.header__nav
      ul.nav__list
        li.nav__item
          a.nav__link Тут точно все работает?
        li.nav__item
          a.nav__link
        li.nav__item
          a.nav__link
        li.nav__item
          a.nav__link

