@import "../mixins/media";

@import "../utils/variables";

.footer {
    padding: 28px 0;
    border-top: 1px solid $btnSecondaryBG;

    .copyright {
        font: $largeFont;
        text-align: center;
    }

}
