@import "../../local_modules/normalize.css/normalize";

@import "../utils/variables";


*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: "ComicSansMS";
    color: $textColor;
}

body {
    margin: 0;
    background-color: $bodyColor;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $textColor;
}

.container {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1400px;
}

.nav {
    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        margin-right: 20px;
    }
}
