@import "../../mixins/media";

@import "../../utils/variables";

.custom-checkbox {

    &__text {
        position: relative;
        display: inline-block;
        padding-left: 40px;
        font: $middleFont;
        cursor: pointer;
    }

    &__text::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 24px;
        height: 24px;
        border: 2px solid $checkboxColor;
        border-radius: 4px;
        transition:  border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    }

    &__text::after {
        content: '';
        position: absolute;
        top: 8px;
        left: 4px;
        width: 16px;
        height: 12px;
        background: url("../img/check.svg") center / cover no-repeat;
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
    }

    &__input:checked + &__text::before {
        border-color: $primaryColor;
        background-color: $primaryColor;
    }

    &__input:checked + &__text::after {
        opacity: 1;
    }

    &__input:focus + &__text::before {
        outline: 2px solid rgba($primaryColor, 0.5);
    }


}
